#global-container
{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.home-page-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home-page-container textarea
{
    background-color: #081B33;
    color: #767D92;
    flex: 1;
}