body
{
    background-color: #081B33;
    color: #767D92;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
}

*
{
    box-sizing: border-box;
}

a, a:visited {
    color: #506680;
}

button {
    height: 4rem;
    min-width: 4rem;
}